---
import { type HTMLAttributes } from 'astro/types';
import clsx from 'clsx';

interface Props extends HTMLAttributes<'div'> {
  size?: 'sm' | 'md' | 'lg';
}

const { size = 'lg', class: className, ...props } = Astro.props;

const sizeClasses = {
  sm: 'max-w-3xl',
  md: 'max-w-5xl',
  lg: 'max-w-6xl',
};
---

<div class={clsx('mx-auto px-4 sm:px-6 lg:px-8', sizeClasses[size], className)} {...props}>
  <slot />
</div>
